<div id="instances" class="viewport" ng-repeat="reservation in $ctrl.reservations">
	<div class="table-row auth-table-row">
		<span class="table-cell">
			<b>Reservation ID:</b>&nbsp;
			{{reservation.id}}
		</span>
		<span class="table-cell">
			<b>Owner ID:</b>&nbsp;
			{{reservation.ownerId}}
		</span>
	</div>
	<div ng-repeat="instance in reservation.instances">
		<div id="instances" class="bordered">
			<div class="table">
				<span class="table-row table-row-5">
					<span class="table-cell">
						<b>Name:</b>&nbsp;
						{{instance.name}}
					</span>
					<span class="table-cell">
						<b>VPC ID:</b>&nbsp;
						{{instance.vpcId}}
					</span>
					<span class="table-cell">
						<b>Instance ID:</b>&nbsp;
						{{instance.id}}
					</span>
					<span class="table-cell">
						<b>Instance Type:</b>&nbsp;
						{{instance.type}}
					</span>
					<span class="table-cell">
						<b>State:</b>&nbsp;
						{{instance.state}}
					</span>
					<span class="table-cell">
						<button class="{{instance.actionStyle}}" ng-click="$ctrl.performAction(reservation.id, instance.id)">{{instance.action}}</button>
					</span>
				</span>
			</div>
			<div class="table">
				<span class="table-row table-row-2">
					<span class="table-cell">
						<b>Public DNS:</b>&nbsp;
						{{instance.publicDns}}
					</span>
					<span class="table-cell">
						<b>Public IP:</b>&nbsp;
						{{instance.publicIp}}
					</span>
				</span>
			</div>
		</div>
	</div>
	<br><br>
</div>
