<div id="loginForm" class="viewport bordered">
	<h3 id="authHeading">Enter Authorization</h3>
	<div class="table">
		<div class="table-row table-row-2">
			<span class="table-cell">
				<b><label for="accessKey">Access Key:</label></b>&nbsp;
			</span>
			<span class="table-cell">
				<input id="accessKey" type="text" size="30" autofocus ng-model="$ctrl.accessKey"/>
			</span>
		</div>
		<div class="table-row table-row-2">
			<span class="table-cell">
				<b><label for="secretKey">Secret Key:</label></b>&nbsp;
			</span>
			<span class="table-cell">
				<input id="secretKey" type="text" size="30" ng-model="$ctrl.secretKey"/>
			</span>
		</div>
		<div class="table-row table-row-2">
			<span class="table-cell">
				<b><label for="sessionToken">Session Token:</label></b>&nbsp;
			</span>
			<span class="table-cell">
				<input id="sessionToken" type="text" size="30" ng-model="$ctrl.sessionToken"/>
			</span>
		</div>
		<div class="table-row table-row-2">
			<span class="table-cell">
				<b><label for="region">AWS Region:</label></b>&nbsp;
			</span>
			<span class="table-cell">
				<select id="region" ng-model="$ctrl.region">
					<option value="us-east-1" selected>US East (N. Virginia)</option>
					<option value="us-east-2">US East (Ohio)</option>
					<option value="us-west-1">US West (N. California)</option>
					<option value="us-west-2">US West (Oregon)</option>
				</select>
			</span>
		</div>
		<div class="table-row">
			<button ng-click="$ctrl.authorize()">Get Instances</button>
		</div>
	</div>
</div>
