/* app css stylesheet */
@import "../lib/html5-boilerplate/dist/css/normalize.css";
@import "../lib/html5-boilerplate/dist/css/main.css";

.viewport {
	position: relative;
	left: 2.5%;
}

.bordered {
	border: 10px;
	border-style: groove;
	border-width: medium;
	border-color: black;
}

.table {
	display: table;
	padding: 5px 10px 5px 10px;
}

.table-row {
	display: table-row;
	margin: 5px 2px 2px 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}

.table-row-2 {
	column-count: 2;
}

.table-row-5 {
	column-count: 5;
}

.table-cell {
	display: table-cell;
	border-spacing: 5px;
	margin: 2px 1.5% 2px 5%;
	padding: 2px 5px 2px 10px;
}

.startButton {
	color: green;
	font-weight: bold;
}

.stopButton {
	color: red;
	font-weight: bold;
}

.updateButton {
	color: blue;
	font-style: italic;
}

#loginForm {
	width: 450px;
}

#authHeading {
	margin-left: 2%;
	width: 100%;
}

#instances {
	width: 980px;
}
